@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Montserrat:ital@1&family=Nunito&family=Poppins&family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/*   HEADER STYLES   */

#header {
    width: 100%;
    height: 60px;
    background-color: #267356;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 80% 20%;
    z-index: 1000;
}

#header h1{
    color: white;
    font-family: poppins;
    font-size: 30px;
    font-weight: 900;
    margin-left: 20px;
    grid-area: 0 / 1;
    align-self: center;
}

#header button {
    background-color: #1C4D3A;
    color: white;
    font-size: 15px;
    font-family: 'Poppins';
    font-weight: bold;
    grid-area: 1 / 2;
    justify-self: end;
    align-self: center;
    margin-right: 20px;
    padding: 6px 17px;
    border: none;
    transition: opacity 0.1s linear;
}

#header button:hover {
    opacity: 0.7;
    cursor: pointer;
}

/*   TO DO MAIN CONTENT STYLES   */
#to-do-items{
    max-width: 800px;
    margin: 100px auto;
}

.item-cont {
    width: 100%;
    padding: 10px 20px;
    background-color: #ebe9e9;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 10px;
}

.text-div {
    width: 90%;
    height: 100%;
    overflow: auto;
}

.text-p {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    opacity: 1;
}

.icon-div {
    width: 10%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.v {
    opacity: 0;
    font-size: 20px;
    transition: all 0.19s linear;
}

.item-cont:hover .v {
    opacity: 1;
    font-size: 18px;
}

.icon-div i:first-child {
    color: #267356;
}

.icon-div i:last-child {
    color: #1C4D3A;
}

#instruction {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin-left: 30px;
    text-align: center;
}

/* CHECKED ITEMS STYLES  */

.checked-items-v {
    max-width: 800px;
    margin: 100px auto;
}

.checked-items-v h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: normal;
}

.checked-items-i {
    width: 0;
    opacity: 0;
}

.checked-items-i h2 {
    font-size: 0;
    opacity: 0;
}

.chk-blur{
    opacity: 0.8;
}

.chk-icon-div {
    width: 10%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.chk-icon-div i:first-child {
    color: #267356;
}

/*   TYPE TO DO   */
#type-to-do {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#to-do-item {
    width: 600px;
    height: 47px;
    background-color: #ebe9e9;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

#type-to-do-action button{
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-family: 16px;
    border: none;
    border-radius: 5px;
    padding: 5px 25px;
}

#add{
    background-color: #267356;
    color: white;
    transition: opacity 0.1s linear;
}

#add:hover {
    opacity: 0.7;
    cursor: pointer;
}

#cancel{
    background-color: #CECECE;
    color: black;
    transition: opacity 0.1s linear;
}

#cancel:hover {
    opacity: 0.7;
    cursor: pointer;
}*/

/*   TO DO ADD BUTTON STYLE   */
/*#add-btn {
    width: 50px;
    height: 50px;
    background-color: #267356;
    color: white;
    font-size: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    transition: opacity 0.1s linear;
}


#add-btn:hover{
    opacity: 0.7;
    cursor: pointer;
}8?

/*   UTILITIES   */

.dark-bg-i, .type-text-window-i  {
    display: none;
    
}

.dark-bg-v {
    width: 100%;
    height: 100vh;
    background-color: #267356;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 1000;
    display: block;
}

.dark-bg-v:hover {
    cursor: pointer;
}



/*Type Text/Item Name Window*/
/*.type-text-window-v {
    width: 500px;
    height: 200px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 1001;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.type-text-window-v h3{
    font-weight: normal;
    font-family: 'Poppins';
    margin: 30px;
}

#to-do-item {
    background-color: #CECECE;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding: 5px 25px;
    border: none;
}

.type-text-window-v button{
    font-family: 'Poppins', sans-serif;
    font-family: 16px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.type-text-window-v #add{
    background-color: #267356;
    color: white;
    position: absolute;
    bottom: 15px;
    right: 100px;
    transition: opacity 0.1s linear;
}

.type-text-window-v #add:hover {
    opacity: 0.7;
    cursor: pointer;
}

.type-text-window-v #cancel{
    background-color: #CECECE;
    color: black;
    position: absolute;
    bottom: 15px;
    right: 20px;
    transition: opacity 0.1s linear;
}

.type-text-window-v #cancel:hover {
    opacity: 0.7;
    cursor: pointer;
}*/

/* Sure to delete window */

.sure-to-delete-i {
    width: 0;
    height: 0;
    opacity: 0;
}

.sure-to-delete-v {
    width: 500px;
    height: 200px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 1001;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.sure-to-delete-v h3 {
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    margin: 30px;
    text-align: center;
}

.sure-to-delete-v button{
    font-family: 'Poppins', sans-serif;
    font-family: 16px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.sure-to-delete-v #confirm{
    background-color: #267356;
    color: white;
    position: absolute;
    bottom: 15px;
    right: 100px;
    transition: opacity 0.1s linear;
}

.sure-to-delete-v #confirm:hover {
    opacity: 0.7;
    cursor: pointer;
}

.sure-to-delete-v #cancel-delete{
    background-color: #CECECE;
    color: black;
    position: absolute;
    bottom: 15px;
    right: 20px;
    transition: opacity 0.1s linear;
}

.sure-to-delete-v #cancel-delete:hover{
    opacity: 0.8;
    cursor: pointer;
}


/* Restore Button */

.restore-i {
    font-size: 0;
    opacity: 0;
}

.restore-v {
    background-color: #267356;
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 25px;
    left: 25px;
    border-radius: 10px;
    padding: 15px;
    transition: opacity 0.1s linear;
}

.restore-v:hover {
    opacity: 0.8;
    cursor: pointer;
}

.restore-v p{
    padding-right: 10px;
}

.restore-v i{
    font-size: 25px;
}

.fas{
    transition: opacity 0.1s linear;
}

.fas:hover {
    cursor: pointer;
}